<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="classificacao.component.css">
    </head>

    <body>
        <div class="boxContainer">
            <table>
                <tr>
                    <td colspan="3">Nome do bolão: {{boloes.nome}}</td>
                </tr>
                <tr>
                    <td>#</td>
                    <td>Pontuação</td>
                    <td>nome</td>
                </tr>
                <tr *ngFor="let item of classificacaoList">
                    <td>{{item.classificacao}}</td>
                    <td>{{item.pontuacao}}</td>
                    <td>{{item.nome}}</td>
                </tr>
            </table>
        </div>
    </body>

</html>