<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
"http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="classificacao.component.css">
    </head>

    <body>
        <div class="boxContainer">
            <table>
                <tr>
                    <td colspan="3">Nome do bolão: {{boloes.nome}}</td>
                </tr>
                <tr>
                    <td>#</td>
                    <td>nome</td>
                    <td>Pontuação</td>
                    <td>AT</td>
                    <td>AT+P</td>
                    <td>SG</td>
                    <td>AV</td>
                    <td>AV+P</td>
                </tr>
                <tr *ngFor="let item of classificacaoList">
                    <td>{{item.classificacao}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.pontuacao}}</td>
                    <td>{{item.act}}</td>
                    <td>{{item.atp}}</td>
                    <td>{{item.asg}}</td>
                    <td>{{item.ac}}</td>
                    <td>{{item.acp}}</td>
                </tr>
            </table>
            <div>
                <p>Legenda: AT - Acerto Total | AT+P - Acerto Total e Pênaltis | SG - Acerto Saldo de Gols | AV - Acerto Vencedor | AV+P: Acerto Vencedor e Pênaltis</p>
            </div>
        </div>
    </body>

</html>