<html>

<head>
    <link rel="stylesheet" href="bolao-palpite.component.css">
</head>

<body>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="boxContainer" [formGroup]="formBolao">

            <table formArrayName="palpites">
                <tr>
                    <th colspan="4" *ngIf="!f.submitted">{{liga.nome}}</th>
                    <th colspan="1" *ngIf="f.submitted">{{liga.nome}}</th>
                    <th colspan="3" *ngIf="f.submitted && isSucesso">Palpites enviados com sucesso.</th>
                    <th colspan="3" *ngIf="f.submitted && erroIntegracao">Erro de integração: {{erroIntegracao}}</th>
                    
                    <th>
                        <button [disabled]="!formBolao.valid || formBolao.pristine">
                            Salvar
                        </button>
                    </th>
                </tr>

                <tr *ngFor="let control of formPalpites.controls; let i=index">
                    <td><img src="{{gameList[i].mandanteUrl}}" /></td>
                    <td>{{gameList[i].mandanteNome}}</td>
                    <td>
                        <ul class="placar">
                            <li>
                                {{gameList[i].data.toLocaleString()}}
                            </li>
                        </ul>
                        <ul class="placar" formGroupName="{{i}}">
                            <li><input type="text" formControlName="golsMandante" maxlength="2" size="2" />
                            </li>
                            <li>X</li>
                            <li><input type="text" formControlName="golsVisitante" maxlength="2" size="2" />
                            </li>
                        </ul>
                        <ul *ngIf="control.get('golsMandante')?.errors?.['PalpiteEmAmbos'] || control.get('golsVisitante')?.errors?.['PalpiteEmAmbos']" class="alert alert-danger" role="alert">
                            Preencher o palpite completo
                        </ul>
                        <ul *ngIf="gameList[i].tipo !== 'GRUPOS' && control.get('golsMandante')?.value && 
                        control.get('golsVisitante')?.value && 
                        control.get('golsMandante')?.value === control.get('golsVisitante')?.value" class="placar"
                            formGroupName="{{i}}">
                            <li>
                                <div class="radioContainer">
                                    <input type="radio" value="mandante" name="vencedorPenaltis"
                                        formControlName="vencedorPenaltis">
                                    <span class="checkmark"></span>
                                </div>
                            </li>
                            <li>Pênaltis</li>
                            <li>
                                <div class="radioContainer">
                                    <input type="radio" name="vencedorPenaltis" value="visitante"
                                        formControlName="vencedorPenaltis">
                                    <span class="checkmark"></span>
                                </div>
                            </li>
                        </ul>
                        <ul *ngIf="control.errors?.['EmpateSemPenaltis']" class="alert alert-danger" role="alert">
                            Escolha o vencedor nos pênaltis
                        </ul>
                        <ul *ngIf="partidasList[i].resultado">
                            Resultado Final: 
                            {{partidasList[i].resultado?.golsMandante}} X {{partidasList[i].resultado?.golsVisitante}}
                        </ul>
                        <ul *ngIf="partidasList[i].resultado && isPartidaPenaltis(i)">
                            Vencedor nos pênaltis: {{vencedorPenaltis(i)}}
                        </ul>
                    </td>
                    <td>{{gameList[i].visitanteNome}}</td>
                    <td><img src="{{gameList[i].visitanteUrl}}" /></td>
                </tr>

            </table>
        </div>
    </form>
</body>

</html>