<html>

<head>
	<link rel="stylesheet" href="login.component.css">
</head>

<body>
	<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
		<div class="boxContainer">
			<div class="boxLogin">
				<input type="text" placeholder="Email" name="email" [(ngModel)]="form.email" required #email="ngModel"
					[ngClass]="{ 'is-invalid': f.submitted && email.errors }">
				<div *ngIf="email.errors && f.submitted">
					Username is required!
				</div> <input type="password" placeholder="******" name="password" [(ngModel)]="form.password" required
					#password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
				<div *ngIf="password.errors && f.submitted" class="invalid-feedback">
					<div *ngIf="password.errors['required']">Password is required</div>
				</div>
				<button>Login</button>
				<div class="form-group">
					<div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
					  Login failed: {{ errorMessage }}
					</div>
				  </div>
				<a href="#" class="forgotPass">Forgot your pass?</a>

				<hr class="line">

				<div class="register">
					<img src="imgs/fb.png" width="60" class="button">
					<img src="imgs/google.png" width="60" class="button">
					<a href="#" class="button" routerLink="/register">Register</a>
				</div>
			</div>
		</div>
	</form>
</body>

</html>